on:
  push:
    tags:
      - "v*"

name: Release

jobs:
  changelog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  publish:
    name: ${{ matrix.name }} (${{ matrix.target }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          - x86_64-apple-darwin
          - x86_64-pc-windows-msvc
          - x86_64-unknown-netbsd
          - x86_64-unknown-freebsd
          - aarch64-linux-android
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
          - aarch64-apple-darwin
          - aarch64-pc-windows-msvc
          - armv7-unknown-linux-gnueabihf
        include:
          - os: ubuntu-latest
            name: GNU/Linux x86_64
            target: x86_64-unknown-linux-gnu
            artifact_name: target/x86_64-unknown-linux-gnu/release/macchina
            release_suffix: linux-gnu-x86_64
            cross: false
            strip: true

          - os: ubuntu-latest
            name: Linux musl x86_64
            target: x86_64-unknown-linux-musl
            artifact_name: target/x86_64-unknown-linux-musl/release/macchina
            release_suffix: linux-musl-x86_64
            cross: true
            strip: true

          - os: macos-latest
            name: macOS x86_64
            target: x86_64-apple-darwin
            artifact_name: target/x86_64-apple-darwin/release/macchina
            release_suffix: macos-x86_64
            cross: false
            strip: true

          - os: windows-latest
            name: Windows x86_64
            target: x86_64-pc-windows-msvc
            artifact_name: target/x86_64-pc-windows-msvc/release/macchina.exe
            release_suffix: windows-x86_64.exe
            cross: false
            strip: true

          - os: ubuntu-latest
            name: NetBSD x86_64
            target: x86_64-unknown-netbsd
            artifact_name: target/x86_64-unknown-netbsd/release/macchina
            release_suffix: netbsd-x86_64
            cross: true
            strip: true

          - os: ubuntu-latest
            name: freeBSD x86_64
            target: x86_64-unknown-freebsd
            artifact_name: target/x86_64-unknown-freebsd/release/macchina
            release_suffix: freebsd-x86_64
            cross: true
            strip: true

          - os: ubuntu-latest
            name: Android aarch64
            target: aarch64-linux-android
            artifact_name: target/aarch64-linux-android/release/macchina
            release_suffix: android-aarch64
            cross: true
            strip: true

          - os: ubuntu-latest
            name: GNU/Linux aarch64
            target: aarch64-unknown-linux-gnu
            artifact_name: target/aarch64-unknown-linux-gnu/release/macchina
            release_suffix: linux-gnu-aarch64
            cross: true
            strip: true

          - os: ubuntu-latest
            name: Linux musl aarch64
            target: aarch64-unknown-linux-musl
            artifact_name: target/aarch64-unknown-linux-musl/release/macchina
            release_suffix: linux-musl-aarch64
            cross: true
            strip: true

          - os: macos-latest
            name: macOS aarch64
            target: aarch64-apple-darwin
            artifact_name: target/aarch64-apple-darwin/release/macchina
            release_suffix: macos-aarch64
            cross: false
            strip: true

          - os: windows-latest
            name: Windows aarch64
            target: aarch64-pc-windows-msvc
            artifact_name: target/aarch64-pc-windows-msvc/release/macchina.exe
            release_suffix: windows-aarch64.exe
            cross: false
            strip: true

          - os: ubuntu-latest
            name: GNU/Linux ARMv7
            target: armv7-unknown-linux-gnueabihf
            artifact_name: target/armv7-unknown-linux-gnueabihf/release/macchina
            release_suffix: linux-gnueabihf-armv7
            cross: true
            strip: true

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Bootstrap
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target=${{ matrix.target }} --release
          use-cross: ${{ matrix.cross }}

      - name: Set env (Windows)
        run: |
          chcp 65001 # utf-8
          echo ("RELEASE_NAME=macchina-" + $env:GITHUB_REF.replace('refs/tags/', '') + "-${{ matrix.release_suffix }}") >> $env:GITHUB_ENV
        if: ${{ contains(matrix.target, 'indows') }} # incase w is capitalized

      - name: Set env (UNIX)
        run: echo "RELEASE_NAME=macchina-${GITHUB_REF#refs/*/}-${{ matrix.release_suffix }}.tar.gz" >> $GITHUB_ENV
        if: ${{ !contains(matrix.target, 'indows') }} # incase w is capitalized

      - name: Compress binaries (UNIX)
        run: tar cfzv ${{ env.RELEASE_NAME }} -C "$(dirname ${{ matrix.artifact_name}})" "$(basename ${{ matrix.artifact_name }})";
        if: ${{ !contains(matrix.target, 'indows') }} # incase w is capitalized

      - name: Rename binaries (Windows)
        run: mv ${{ matrix.artifact_name }} ${{ env.RELEASE_NAME }}
        if: ${{ contains(matrix.target, 'indows') }} # incase w is capitalized

      - name: Upload binaries
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.RELEASE_NAME }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
