on: [push, pull_request]

name: CI

jobs:
  checks:
    name: ${{ matrix.name }} (${{ matrix.target }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          - x86_64-apple-darwin
          - x86_64-pc-windows-msvc
          - x86_64-unknown-netbsd
          - x86_64-unknown-freebsd
          - aarch64-linux-android
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
          - aarch64-apple-darwin
          - aarch64-pc-windows-msvc
          - armv7-unknown-linux-gnueabihf

        include:
          - os: ubuntu-latest
            name: Linux GNU x86_64
            target: x86_64-unknown-linux-gnu
            cross: false
            strip: true

          - os: ubuntu-latest
            name: Linux musl x86_64
            target: x86_64-unknown-linux-musl
            cross: true
            strip: true

          - os: macos-latest
            name: macOS x86_64
            target: x86_64-apple-darwin
            cross: false
            strip: true

          - os: windows-latest
            name: Windows x86_64
            target: x86_64-pc-windows-msvc
            cross: false
            strip: true

          - os: ubuntu-latest
            name: NetBSD x86_64
            target: x86_64-unknown-netbsd
            cross: true
            strip: true

          - os: ubuntu-latest
            name: freeBSD x86_64
            target: x86_64-unknown-freebsd
            cross: true
            strip: true

          - os: ubuntu-latest
            name: Android aarch64
            target: aarch64-linux-android
            cross: true
            strip: true

          - os: ubuntu-latest
            name: Linux GNU aarch64
            target: aarch64-unknown-linux-gnu
            cross: true
            strip: true

          - os: ubuntu-latest
            name: Linux musl aarch64
            target: aarch64-unknown-linux-musl
            cross: true
            strip: true

          - os: macos-latest
            name: macOS aarch64
            target: aarch64-apple-darwin
            cross: false
            strip: true

          - os: windows-latest
            name: Windows aarch64
            target: aarch64-pc-windows-msvc
            cross: false
            strip: true

          - os: ubuntu-latest
            name: Linux ARMv7
            target: armv7-unknown-linux-gnueabihf
            cross: true
            strip: true

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Bootstrap
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
          target: ${{ matrix.target }}

      - name: Formatting
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          use-cross: ${{ matrix.cross }}
        continue-on-error: false

      - name: Lints
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --target=${{ matrix.target }} -- --no-deps -D clippy::all
          use-cross: ${{ matrix.cross }}
        continue-on-error: false

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target=${{ matrix.target }}
          use-cross: ${{ matrix.cross }}

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --target=${{ matrix.target }}
        if: ${{ !matrix.cross && !contains(matrix.target, 'aarch64') }}

      - name: Doctor
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: --target=${{ matrix.target }} -- --doctor
          use-cross: ${{ matrix.cross }}
        if: ${{ matrix.test }}
