on:
  push:
    tags:
      - 'v*'

name: Release

jobs:
  changelog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: CHANGELOG.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  publish:
    name: ${{ matrix.name }} (${{ matrix.target }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-apple-darwin
          - x86_64-pc-windows-msvc
          - x86_64-unknown-netbsd
          - aarch64-linux-android
          - aarch64-unknown-linux-gnu
        include:
          - os: ubuntu-latest
            name: Linux
            target: x86_64-unknown-linux-gnu
            artifact_name: target/x86_64-unknown-linux-gnu/release/macchina
            release_name: macchina-linux-x86_64
            cross: false
            strip: true

          - os: macos-latest
            name: Macos
            target: x86_64-apple-darwin
            artifact_name: target/x86_64-apple-darwin/release/macchina
            release_name: macchina-macos-x86_64
            cross: false
            strip: true

          - os: windows-latest
            name: Windows
            target: x86_64-pc-windows-msvc
            artifact_name: target/x86_64-pc-windows-msvc/release/macchina.exe
            release_name: macchina-windows-x86_64.exe
            cross: false
            strip: true

          - os: ubuntu-latest
            name: NetBSD
            target: x86_64-unknown-netbsd
            artifact_name: target/x86_64-unknown-netbsd/release/macchina
            release_name: macchina-netbsd-x86_64
            cross: true
            strip: true

          - os: ubuntu-latest
            name: Android
            target: aarch64-linux-android
            artifact_name: target/aarch64-linux-android/release/macchina
            release_name: macchina-android-aarch64
            cross: true
            strip: true

          - os: ubuntu-latest
            name: Linux aarch64
            target: aarch64-unknown-linux-gnu
            artifact_name: target/aarch64-unknown-linux-gnu/release/macchina
            release_name: macchina-linux-aarch64
            cross: true
            strip: true

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Bootstrap
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target=${{ matrix.target }} --release
          use-cross: ${{ matrix.cross }}

      - name: Rename binaries
        run: mv ${{ matrix.artifact_name }} ${{ matrix.release_name }}

      - name: Upload binaries
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ matrix.release_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
